section.projects {
  padding-top: 0px; }

nav {
  margin-bottom: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }
  nav .tab {
    border-top: 1px solid transparent;
    color: #262e38;
    padding: 20px 10px;
    margin: 0px 5px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  nav .tab:hover, nav .active {
    border-top: 1px solid #262e38; }

@media screen and (max-width: 480px) {
  nav .tab {
    padding: 10px 5px;
    margin: 0px; } }
