/* ============================= Style - PROJECTS =============================== */
button.return-to-home {
  color: #4e4e4e;
  opacity: 0.6;
  padding: 12px 5px 8px 0px;
  margin: 0;
  border: none;
  background: none;
  font-family: "FaktPro", sans-serif;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  margin-bottom: 40px;
  border: 1px solid transparent;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
button.return-to-home .fas {
  font-size: 0.8em;
  margin-left: 5px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
button.return-to-home:hover {
  opacity: 1;
  border-bottom: 1px solid #4e4e4e;
}

.project-logo {
  height: 50px;
  margin-bottom: 15px;
  display: flex;
}
.project-logo img {
  height: 100%;
  display: block;
  margin-right: 24px;
}

.content-project {
  width: 60%;
  margin: auto;
}
.content-project p > a {
  border-bottom: 1px solid;
}
.content-project p > a:hover {
  color: #FFC553;
  border-color: #FFC553;
}

.logo-small {
  height: 30px;
}

.project-title {
  font-size: 2.6em;
  color: #191C20;
  font-weight: 700;
  margin-bottom: 5px;
  margin: auto;
}

.project-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 30px 0px;
}
.project-details .description-tile {
  padding: 5px 0px;
  color: #191C20;
  max-width: 300px;
}
.project-details .description-tile span {
  display: block;
  color: #4e4e4e;
  margin: 10px 0px;
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 1px;
  font-weight: 400;
}

.project-container {
  width: 100%;
  padding-top: 24px;
}
.project-container p {
  padding: 0;
  font-size: 1em;
  color: #4e4e4e;
  font-weight: 300;
  line-height: 1.75;
}
.project-container p b {
  font-weight: 600;
  color: #191C20;
}
.project-container p strong {
  font-weight: 600;
}
.project-container .quote {
  font-size: 1.4em;
  font-style: italic;
  font-weight: 400;
  color: #191C20;
  line-height: 2em;
  margin: 40px 0;
  padding-left: 5%;
  border-left: 4px solid #ddd;
}
.project-container ul {
  line-height: 1.75;
  font-weight: 300;
  font-size: 1em;
  color: #4e4e4e;
}
.project-container p.project-subtitle {
  color: #191C20;
  font-weight: 400;
  font-size: 1.6em;
}
.project-container p.project-subtitle .favourite {
  color: #feca57;
  margin-left: 10px;
  font-size: 0.9em;
  cursor: pointer;
}
.project-container p.link {
  color: #FFC553;
  padding-top: 12px;
}
.project-container .description-tile {
  padding-top: 12px;
  max-width: 20%;
  font-size: 0.8em;
}
.project-container .description-tile span {
  font-weight: 600;
  text-transform: uppercase;
  line-height: 2em;
  font-size: 0.85em;
}
.project-container-left {
  display: flex;
  justify-content: space-between;
}
.project-container-left img {
  margin-top: 12px;
  width: 100%;
}
.project-container-right, .project-container-main {
  width: 75%;
  margin: auto;
  margin-top: 32px;
}
.project-container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project-container-flex-half {
  margin-right: 24px;
  max-width: 45%;
}
.project-container-flex-bigger {
  margin-right: 24px;
  width: 55%;
}
.project-container-flex-smaller {
  width: 35%;
}
.project-container iframe {
  max-width: 100%;
}
.project-container a {
  text-decoration: underline;
}
.project-container .footnotes {
  font-size: 0.8em;
}
.project-container .footnotes li {
  line-height: 1.5em;
  text-indent: 0;
}

.info-grid {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  align-content: top;
  grid-gap: 32px;
}
.info-grid-item-num {
  display: inline;
  z-index: -1;
  font-size: 2em;
  font-weight: 700;
}

.about {
  padding-top: 0 !important;
}

.project-wrapper {
  width: 100%;
}
.project-wrapper .project-description {
  width: 100%;
}
.project-wrapper .project-description img {
  width: 100%;
}
.project-wrapper .project-description p.point {
  margin: 5px 0px;
}
.project-wrapper .project-description p {
  margin: 30px 0px;
  padding: 0;
  font-size: 1em;
  color: #4e4e4e;
  font-weight: 400;
  line-height: 1.75;
  text-align: justify;
}
.project-wrapper .project-description p b {
  color: #191C20;
  font-weight: 700;
}
.project-wrapper .project-description p a {
  font-size: 0.9em;
  color: #FFC553;
}
.project-wrapper .project-description p a .fas {
  margin-left: 5px;
  font-size: 0.9em;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.project-wrapper .project-description p a:hover > .fas {
  margin-left: 10px;
}
.project-wrapper .project-description p.project-subtitle {
  color: #191C20;
  font-weight: 700;
  font-size: 1.5em;
}
.project-wrapper .project-description p.project-subtitle .favourite {
  color: #feca57;
  margin-left: 10px;
  font-size: 0.9em;
  cursor: pointer;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  margin: 40px;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

button.centerlight {
  padding: 12px 5px 8px 0px;
  margin: 20px 0px;
  margin-top: 80px;
  border: none;
  background: none;
  font-size: 1.1em;
  font-weight: 500;
  color: #FFC553;
  cursor: pointer;
  outline: none;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  border: 3px solid transparent;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
button.centerlight .fas {
  margin-right: 10px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

button.centerlight:hover .fas {
  margin-right: 20px;
}

.project-page img {
  image-orientation: from-image !important;
}
.project-page img.full {
  width: 100%;
  margin: 28px auto;
}
.project-page img.shadow {
  box-shadow: 0 5px 75px rgba(77, 71, 82, 0.1);
}
.project-page .image-area {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.project-page img.half {
  width: 45%;
  margin: 20px auto;
}
.project-page img.xs {
  width: 30%;
  margin: 20px auto;
}
.project-page img.bordered {
  border: 5px solid rgba(0, 0, 0, 0.1);
}
.project-page p.image-description {
  font-size: 0.8em;
  font-weight: 700;
  color: #4e4e4e;
  text-align: center;
  margin: 0 0 10px 0px;
  margin-top: -20px;
}
.project-page .center {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

@media only screen and (max-width: 1024px) {
  body {
    font-size: 90%;
  }

  .subtext {
    margin: 0px;
    margin-top: 30px;
    width: 100%;
  }

  p.about-text, .project-description {
    width: 75%;
  }

  .content-project {
    width: 75%;
    margin: auto;
  }

  .project-container-right, .project-container-main {
    width: 100%;
  }

  .intro-subtext {
    width: 60%;
  }
}
@media only screen and (max-width: 700px) {
  body {
    font-size: 85%;
  }

  .content-project {
    width: 80%;
    margin: auto;
  }

  section .articles-wrapper article {
    width: 100%;
  }

  .project-wrapper {
    flex-wrap: wrap;
  }
  .project-wrapper .project-details {
    width: 100%;
    padding: 0;
  }
  .project-wrapper .project-description {
    padding-top: 30px;
    width: 100%;
  }

  .intro-subtext {
    width: 80%;
  }
}
@media only screen and (max-width: 550px) {
  p.about-text {
    width: 100%;
  }

  .project-description {
    width: 100%;
  }

  .content {
    width: 90%;
  }

  .content-project {
    width: 90%;
    margin: auto;
  }

  header .logo {
    height: 30px;
    width: 35px;
  }
  header .logo .name {
    display: none;
  }
  header .hamburger {
    display: block;
  }

  section .articles-wrapper article {
    width: 100%;
  }

  .project-page img.half {
    width: 60%;
  }
}

  .project-container-right {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
